.storage
.cloud
.google
.vscode
image/
/archive

__pycache__/
__init__*
*.$py.class
*.py[cod]
*.pyc
*.cypython-39.pyc
*.py

*.js
*.json
*.js.gz

tts

/automations/bedroom_chill.yaml
/ip_bans.yaml

*.repositories
custom_components/***.md

secrets.yaml
automations.yaml
zones.yaml

*.db
*.log
*.log.*
home-assistant.log.1

.db*
*~*
H2HBP0~N
H4KEWR~L
home-assistant_v2.db*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db-shm
*.db-wal

HomeAssistant.code-workspace
html5_push_registrations.conf

*.backup
ui-lovelace.backup
/blueprints/automation/homeassistant/hidden*.yaml
*backup*
## You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!*.md
